################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnappFood_Employee_Evaluation_Backup_2018.11.11_04.40.16/publish/Application Files/SnappFood_Employee_Evaluation_1_0_0_0/Telerik.WinControls.Themes.Office2007Silver.dll.deploy
